body { padding-top:80px; word-wrap:break-word; background-color: #333; text-align: center;}

.top-header { top: 25px; height: 25px; font-size: 15px;}

.fr {float: right;}
.fl {float: left;}
.cl {clear: both;}

.content_container { width: 1200px; background-color: #FF9900; margin: auto;}

.welcome_user { margin-right: 50px; font-size: 18px; font-weight: bold;}

.tiny_italics {text-align: center; font-size: 6px; font-style: italic;}

.blue {color: blue;}

.red {color: red;}

.calendar-table {margin: auto; width: 100%;}
.calendar-table td {border: 1px solid black;}
