<!-- views/profile.ejs -->
<!doctype html>
<html data-ng-app="jitapp">
<head>
    <title>Calendar</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="styles/core.css" />

</head>
<body>

    <div class="top-header">
        <a href="/logout" class="btn btn-default btn-sm fr">Logout</a>
    </div>
    <div class="cl"></div>

<!--     <ul class="nav nav-pills">
        <li class="active"><a href="#">Calendar</a></li>
        <li><a href="#">Week</a></li>
        <li><a href="#">Day</a></li>
    </ul>
 -->
    <ul class="nav nav-pills" data-ng-controller="NavController">
        <li ng-class="{ active: isActive('/View1') }"><a href="/View1">Calendar</a></li>
        <li ng-class="{ active: isActive('/View2') }"><a href="/View2">Week</a></li>
        <li ng-class="{ active: isActive('/View3') }"><a href="/View3">Day</a></li>
    </ul>

    
    <div id="calendar_container" class="container" data-ng-controller="CalendarController">
        <h3>Calendar</h3>
    </div>

    <div id="week_container" class="container" data-ng-controller="WeekController">
        <h3>Week</h3>
    </div>

    <div id="day_container" class="container" data-ng-controller="DayController">
        <h3>Day</h3>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src="controllers/core.js"></script>
    <script src="controllers/calendar.js"></script>
    <script src="controllers/week.js"></script>
    <script src="controllers/day.js"></script>
</body>
</html>

